@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

$grey: #808080;

@mixin box-space {
    width: 80%;
    padding: 100px 20px 100px 20px;
    border-bottom: 1px solid rgb($grey, 0.3);
    @media screen and (max-width: 450px) {
        width: 90%;
        padding: 50px 10px 50px 10px;
    }
}

@mixin d-cent-cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin slide {
    animation: slideIn 1.2s ease-in-out forwards;
}

@mixin sticker-image {
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a, p, li, h1, h2 {
    color: darken($grey, 20);
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0 ;
    letter-spacing: 2px;
    line-height: 1.8em;
    @media screen and (max-width: 450px) {
        font-size: 0.9em;
    }
}

svg {
    transition: all 0.2s ease-in-out;
    
    &:hover {
        padding: 3px;
        border-radius: 50%;
        box-shadow: 0 0 5px $grey;
    }
}

body {
    background-color: rgb(255, 255, 255);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

main {
    @include d-cent-cent();
    flex-direction: column;
}

.gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: 
    radial-gradient(50% 50% at 110% 30%,
    rgba(252, 115, 168, 0.4) 0%,
    rgba(255, 255, 255, 0) 92.09%),
    radial-gradient(30% 40% at 105% 50%,
    rgba(113, 179, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 92.09%),
    radial-gradient(40% 40% at 20% 110%,
    rgba(180, 162, 247, 0.7) 0%,
    rgba(255, 255, 255, 0) 92.09%),
    radial-gradient(100% 60% at -20% 80%,
    rgba(120, 173, 243, 0.7) 0%,
    rgba(255, 255, 255, 0) 92.09%);
    background-attachment: fixed;
    z-index: -1;
    @media screen and (max-width: 450px) {
        background: 
        radial-gradient(50% 50% at 110% 30%,
        rgba(252, 115, 168, 0.25) 0%,
        rgba(255, 255, 255, 0) 92.09%),
        radial-gradient(30% 40% at 105% 50%,
        rgba(113, 179, 255, 0.25) 0%,
        rgba(255, 255, 255, 0) 92.09%),
        radial-gradient(40% 40% at 20% 110%,
        rgba(180, 162, 247, 0.35) 0%,
        rgba(255, 255, 255, 0) 92.09%),
        radial-gradient(100% 60% at -20% 80%,
        rgba(120, 173, 243, 0.35) 0%,
        rgba(255, 255, 255, 0) 92.09%);
    }
}

.nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    &__items {
        @include d-cent-cent();
        gap: 50px;
        padding: 0;
        width: 100%;
        margin: 0;
        @media screen and (max-width: 450px) {
            gap: 40px;
            padding: 0 20px 0 20px;
        }
    }

    &--scroll {
        height: 60px;
        background-color: white;
        border-bottom: 1px solid rgb($grey, 0.5);
    }

    &__item {
        list-style: none;
        font-size: 1.1em;
        transition: all 0.4s ease-in-out;
        letter-spacing: 4px;
        @media screen and (max-width: 450px) {
            font-size: 0.9em;
        }
    
        &--scroll {
            font-size: 0.9em;
            @media screen and (max-width: 450px) {
                font-size: 0.7em;
            }
        }

        &:hover, .on-part {
            padding-bottom: 6px;
            border-bottom: 2px solid $grey;
        }
    }
}

.header {
    @include box-space();
    @include d-cent-cent();
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    gap: 50px;

    &__title {
        font-size: 2.6em;
        font-weight: 100;
        margin: 0;
        letter-spacing: 20px;
        line-height: 100px;
        font-family: 'Quicksand', sans-serif;
        width: 100%;
        text-align: center;
        @media screen and (max-width: 520px) {
            font-size: 2em;
            letter-spacing: 16px;
            // min-width: 400px;
        }
        @media screen and (max-width: 450px) {
            font-size: 1.2em;
            letter-spacing: 12px;
            line-height: 80px;
        }
    }

    &__subtitle {
        @include d-cent-cent();
        flex-direction: row;
        gap: 20px;
        @media screen and (max-width: 450px) {
            flex-direction: column;
        }

        & > div {
            @include d-cent-cent();
            gap: 16px;
        }
    }

    &__light {
        background-color: greenyellow;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-top: 2px;
        animation: lightning 5s infinite;
        transition: all 0.3s linear;
    }

    &__statut {
        letter-spacing: 4px;
    }
}

.profil {
    @include box-space();
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    opacity: 0;

    &.in-view {
        @include slide();
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 50px;
    }

    &__picture, &__text {
        max-width: 400px;
        text-align: justify;

        span {
            font-weight: bolder;
        }

        img {
            width: 400px;
            height: 391px;
            filter: grayscale(100%);
            transition: all 0.4s linear;
            @media screen and (max-width: 450px) {
                width: 286px;
                height: 280px;
            }

            &:hover {
                filter: grayscale(20%);
            }
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }

    &__mail p {
        transition: all 0.2s linear;

        &:hover {
            letter-spacing: 3px;
        }
    }

    &__buttons {
        @include d-cent-cent();
        gap: 20px;
        button {
            @include d-cent-cent();
            gap: 8px;
            font-size: 1em;;
            width: 80px;
            height: 40px;
            border-radius: 8px;
            color: white;
            background-color: rgba($grey, 0.5);
            border: none;

            &:hover {
                box-shadow: 0 0 5px $grey;
                background-color: transparent;
                color: rgba($grey, 0.5);

                svg path {
                    stroke: #80808070;
                }
            }
        }
    }
}

.portfolio {
    @include box-space();
    @include d-cent-cent();
    flex-direction: column;
    gap: 50px;
    @media screen and (max-width: 450px) {
        padding: 50px 0 50px 0;
    }

    &__text {
        opacity: 0;

        &.in-view {
            @include slide();
        }
    }

    &__icons {
        margin: 40px 0 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        svg {
            opacity: 0;

            &.in-view {
                @include slide();
            }
        }
    }

    &__stickers {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .sticker {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 400px;
        min-width: 320px;
        width: 100%;
        margin-bottom: 40px;
        opacity: 0;

        &.in-view {
            @include slide();
        }

        &__stamps {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            @media screen and (max-width: 400px) {
                padding: 0 20px 0 20px;
                justify-content: center;
            }
        }

        &__stamp {
            background-color: rgba($grey, 0.5);
            border-radius: 4px;
            color: white;
            padding-left: 6px;
            padding-right: 6px;
        }

        &__text {
            font-size: 0.9em;
            text-align: justify;
            @media screen and (max-width: 400px) {
                padding: 0 20px 0 20px;
            }
        }

        &__image {
            max-width: 400px;
            min-width: 340px;
            height: 225px;
            filter: grayscale(100%);         

            &:hover {
                background-position-y: bottom;
                filter: grayscale(0%);
            }

            &--1 {
                background: url('../images/luxury-service.webp');
                @include sticker-image();
                transition: background-position-y 5s linear;
            }

            &--2 {
                background: url('../images/payetonpote.webp');
                @include sticker-image();
                transition: background-position-y 2s linear;
            }

            &--3 {
                background: url('../images/combat.webp');
                @include sticker-image();
                transition: background-position-y 1s linear;
            }

            &--4 {
                background: url('../images/comparOperator.webp');
                @include sticker-image();
                transition: background-position-y 3s linear;
            }

            &--5 {
                background: url('../images/tower-defense.webp');
                @include sticker-image();
                transition: background-position-y 3s linear;
            }

            &--6 {
                background: url('../images/quizz.webp');
                @include sticker-image();
                transition: background-position-y 3s linear;
            }

            &--7 {
                background: url('../images/drumpad.webp');
                @include sticker-image();
                transition: background-position-y 3s linear;
            }

            &--8 {
                background: url('../images/animation-pokemon.webp');
                @include sticker-image();
                transition: background-position-y 3s linear;
            }

            &--9 {
                background: url('../images/the-mountain.webp');
                @include sticker-image();
                transition: background-position-y 8s linear;
            }
        }
    }

    &__text {
        text-align: justify;
    }
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    font-size: 0.8em;
}

@keyframes lightning {
    0% {
        box-shadow: none;
    }
    15% {
        box-shadow: 0px 0px 6px rgb(40, 202, 0);
    }
    30% {
        box-shadow: none;
    }
    100% {
        box-shadow: none;
    }
}

@keyframes slideIn {
    from {
      transform: translateY(60px);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
