@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

$grey: #808080;

@mixin box-space {
    width: 80%;
    padding: 100px 20px 100px 20px;
    border-bottom: 1px solid rgb($grey, 0.3);
    @media screen and (max-width: 450px) {
        padding: 50px 10px 50px 10px;
    }
}
@mixin slide {
    animation: slideIn 1.2s ease-in-out forwards;
}


* {
    color: darken($grey, 20);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

p {
    margin-bottom: 0 !important;
    letter-spacing: 2px;
    font-family: 'Quicksand', sans-serif;
    @media screen and (max-width: 450px) {
        font-size: 0.9em !important;
    }
}

body {
    background-color: rgb(255, 255, 255) !important;
}

.gradient {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: 
    radial-gradient(50% 50% at 110% 30%,
    rgba(252, 115, 168, 0.4) 0%,
    rgba(255, 255, 255, 0) 92.09%),
    radial-gradient(30% 40% at 105% 50%,
    rgba(113, 179, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 92.09%),
    radial-gradient(40% 40% at 20% 110%,
    rgba(180, 162, 247, 0.7) 0%,
    rgba(255, 255, 255, 0) 92.09%),
    radial-gradient(100% 60% at -20% 80%,
    rgba(120, 173, 243, 0.7) 0%,
    rgba(255, 255, 255, 0) 92.09%);
    background-attachment: fixed;
    z-index: -1;
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    &__items {
        padding: 0 !important;
        width: 100%;
        margin-bottom: 0;
    }

    &--scroll {
        height: 60px;
        background-color: white !important;
        border-bottom: 1px solid rgb($grey, 0.5);
    }

    &__item {
        list-style: none;
        font-size: 1.1em !important;
        transition: all 0.4s ease-in-out;
        letter-spacing: 4px;
        @media screen and (max-width: 450px) {
            font-size: 0.9em !important;
    }
    
        &--scroll {
            font-size: 0.9em !important;
            @media screen and (max-width: 450px) {
                font-size: 0.7em !important;
            }
        }

        &:hover {
            padding-bottom: 6px;
            border-bottom: 2px solid $grey;
        }

        &.on-part {
            padding-bottom: 6px;
            border-bottom: 2px solid $grey;
        }
    }
}

.header {
    height: 100%;
    min-height: 100vh;
    @include box-space();
    @media screen and (max-width: 520px) {
        min-height: 80vh;
    }

    &__light {
        background-color: greenyellow;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-top: 2px;
        animation: lightning 5s infinite;
        transition: all 0.3s linear;
    }

    &__title {
        // font-family: 'Rajdhani', sans-serif;
        letter-spacing: 20px;
        line-height: 100px;
        font-family: 'Quicksand', sans-serif;
        width: 100%;
        text-align: center;
        @media screen and (max-width: 520px) {
            font-size: 1.4em;
            // min-width: 400px;
        }
        @media screen and (max-width: 450px) {
            font-size: 1.2em;
            letter-spacing: 12px;
            line-height: 80px;
        }
    }

    &__statut {
        letter-spacing: 4px;
    }
}

.profil {
    @include box-space();
    opacity: 0;
    // animation: slideIn 1s forwards;

    &.in-view {
        @include slide();
        // animation-delay: 0.5s;
    }

    &__picture, &__text {
        max-width: 400px;
        // min-width: 340px;
        text-align: justify;
        @media screen and (max-width: 450px) {
            // padding: 0 40px 0 40px;
        }

        span {
            font-weight: bolder;
        }

        img {
            width: 100%;
            filter: grayscale(100%);
            transition: all 0.4s linear;

            &:hover {
                filter: grayscale(20%);
            }
        }
    }

    &__mail p {
        transition: all 0.2s linear;

        &:hover {
            letter-spacing: 3px;
        }
    }

    &__buttons {
        button {
            background-color: rgba($grey, 0.5);
            border: none;

            &:hover {
                box-shadow: 0 0 5px $grey;
                background-color: transparent;
                color: rgba($grey, 0.5);

                svg path {
                    stroke: #80808070;
                }
            }
        }
    }
}

.portfolio {
    @include box-space();

    &__text {
        opacity: 0;

        &.in-view {
            @include slide();
        }
    }

    &__icons {
        margin: 40px 0 40px 0;
        svg {
            opacity: 0;

            &.in-view {
                @include slide();
            }
        }
    }

    .sticker {
        max-width: 400px;
        width: 100%;
        min-width: 320px;
        opacity: 0;
        margin-bottom: 40px;

        &.in-view {
            @include slide();
        }

        &__stamps {
            @media screen and (max-width: 400px) {
                padding: 0 20px 0 20px;
                justify-content: center;
            }
        }

        &__stamp {
            background-color: rgba($grey, 0.5);
            border-radius: 4px;
            color: white;
            padding-left: 6px;
            padding-right: 6px;
        }

        &__text {
            font-size: 0.9em;
            text-align: justify;
            @media screen and (max-width: 400px) {
                padding: 0 20px 0 20px;
            }
        }

        &__image {
            max-width: 400px;
            // min-width: 340px;
            height: 225px;
            filter: grayscale(100%);         

            &:hover {
                background-position-y: bottom;
                filter: grayscale(0%);
            }

            &--1 {
                background: url('../images/luxury-service.png');
                background-position-x: center;
                background-position-y: top;
                background-size: cover;
                background-repeat: no-repeat;
                transition: background-position-y 5s linear;
            }

            &--2 {
                background: url('../images/payetonpote.png');
                background-position-x: center;
                background-position-y: top;
                background-size: cover;
                background-repeat: no-repeat;
                transition: background-position-y 2s linear;
            }

            &--3 {
                background: url('../images/combat.png');
                background-position-x: center;
                background-position-y: top;
                background-size: cover;
                background-repeat: no-repeat;
                transition: background-position-y 1s linear;
            }

            &--4 {
                background: url('../images/comparOperator.png');
                background-position-x: center;
                background-position-y: top;
                background-size: cover;
                background-repeat: no-repeat;
                transition: background-position-y 3s linear;
            }

            &--5 {
                background: url('../images/tower-defense.png');
                background-position-x: center;
                background-position-y: top;
                background-size: cover;
                background-repeat: no-repeat;
                transition: background-position-y 3s linear;
            }

            &--6 {
                background: url('../images/quizz.png');
                background-position-x: center;
                background-position-y: top;
                background-size: cover;
                background-repeat: no-repeat;
                transition: background-position-y 3s linear;
            }

            &--7 {
                background: url('../images/drumpad.png');
                background-position-x: center;
                background-position-y: top;
                background-size: cover;
                background-repeat: no-repeat;
                transition: background-position-y 3s linear;
            }

            &--8 {
                background: url('../images/animation-pokemon.png');
                background-position-x: center;
                background-position-y: top;
                background-size: cover;
                background-repeat: no-repeat;
                transition: background-position-y 3s linear;
            }

            &--9 {
                background: url('../images/the-mountain.png');
                background-position-x: center;
                background-position-y: top;
                background-size: cover;
                background-repeat: no-repeat;
                transition: background-position-y 8s linear;
            }
        }
    }

    &__text {
        text-align: justify;
    }
}

footer {
    font-size: 0.8em;
}

svg {
    transition: all 0.2s ease-in-out;
    
    &:hover {
        padding: 3px;
        border-radius: 50%;
        box-shadow: 0 0 5px $grey;
    }
}

@keyframes lightning {
    0% {
        box-shadow: none;
    }
    15% {
        box-shadow: 0px 0px 6px rgb(40, 202, 0);
    }
    30% {
        box-shadow: none;
    }
    100% {
        box-shadow: none;
    }
}

@keyframes slideIn {
    from {
      transform: translateY(60px);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}

@media screen and (max-width: 450px) {

}
