@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, p, li, h1, h2 {
  color: #4d4d4d;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  letter-spacing: 2px;
  line-height: 1.8em;
}
@media screen and (max-width: 450px) {
  p {
    font-size: 0.9em;
  }
}

svg {
  transition: all 0.2s ease-in-out;
}
svg:hover {
  padding: 3px;
  border-radius: 50%;
  box-shadow: 0 0 5px #808080;
}

body {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(50% 50% at 110% 30%, rgba(252, 115, 168, 0.4) 0%, rgba(255, 255, 255, 0) 92.09%), radial-gradient(30% 40% at 105% 50%, rgba(113, 179, 255, 0.4) 0%, rgba(255, 255, 255, 0) 92.09%), radial-gradient(40% 40% at 20% 110%, rgba(180, 162, 247, 0.7) 0%, rgba(255, 255, 255, 0) 92.09%), radial-gradient(100% 60% at -20% 80%, rgba(120, 173, 243, 0.7) 0%, rgba(255, 255, 255, 0) 92.09%);
  background-attachment: fixed;
  z-index: -1;
}
@media screen and (max-width: 450px) {
  .gradient {
    background: radial-gradient(50% 50% at 110% 30%, rgba(252, 115, 168, 0.25) 0%, rgba(255, 255, 255, 0) 92.09%), radial-gradient(30% 40% at 105% 50%, rgba(113, 179, 255, 0.25) 0%, rgba(255, 255, 255, 0) 92.09%), radial-gradient(40% 40% at 20% 110%, rgba(180, 162, 247, 0.35) 0%, rgba(255, 255, 255, 0) 92.09%), radial-gradient(100% 60% at -20% 80%, rgba(120, 173, 243, 0.35) 0%, rgba(255, 255, 255, 0) 92.09%);
  }
}

.nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}
.nav__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0;
  width: 100%;
  margin: 0;
}
@media screen and (max-width: 450px) {
  .nav__items {
    gap: 40px;
    padding: 0 20px 0 20px;
  }
}
.nav--scroll {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
.nav__item {
  list-style: none;
  font-size: 1.1em;
  transition: all 0.4s ease-in-out;
  letter-spacing: 4px;
}
@media screen and (max-width: 450px) {
  .nav__item {
    font-size: 0.9em;
  }
}
.nav__item--scroll {
  font-size: 0.9em;
}
@media screen and (max-width: 450px) {
  .nav__item--scroll {
    font-size: 0.7em;
  }
}
.nav__item:hover, .nav__item .on-part {
  padding-bottom: 6px;
  border-bottom: 2px solid #808080;
}

.header {
  width: 80%;
  padding: 100px 20px 100px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 450px) {
  .header {
    width: 90%;
    padding: 50px 10px 50px 10px;
  }
}
.header__title {
  font-size: 2.6em;
  font-weight: 100;
  margin: 0;
  letter-spacing: 20px;
  line-height: 100px;
  font-family: "Quicksand", sans-serif;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 520px) {
  .header__title {
    font-size: 2em;
    letter-spacing: 16px;
  }
}
@media screen and (max-width: 450px) {
  .header__title {
    font-size: 1.2em;
    letter-spacing: 12px;
    line-height: 80px;
  }
}
.header__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 450px) {
  .header__subtitle {
    flex-direction: column;
  }
}
.header__subtitle > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.header__light {
  background-color: greenyellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 2px;
  animation: lightning 5s infinite;
  transition: all 0.3s linear;
}
.header__statut {
  letter-spacing: 4px;
}

.profil {
  width: 80%;
  padding: 100px 20px 100px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  opacity: 0;
}
@media screen and (max-width: 450px) {
  .profil {
    width: 90%;
    padding: 50px 10px 50px 10px;
  }
}
.profil.in-view {
  animation: slideIn 1.2s ease-in-out forwards;
}
.profil__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.profil__picture, .profil__text {
  max-width: 400px;
  text-align: justify;
}
.profil__picture span, .profil__text span {
  font-weight: bolder;
}
.profil__picture img, .profil__text img {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.4s linear;
}
.profil__picture img:hover, .profil__text img:hover {
  filter: grayscale(20%);
}
.profil__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.profil__mail p {
  transition: all 0.2s linear;
}
.profil__mail p:hover {
  letter-spacing: 3px;
}
.profil__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profil__buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1em;
  width: 80px;
  height: 40px;
  border-radius: 8px;
  color: white;
  background-color: rgba(128, 128, 128, 0.5);
  border: none;
}
.profil__buttons button:hover {
  box-shadow: 0 0 5px #808080;
  background-color: transparent;
  color: rgba(128, 128, 128, 0.5);
}
.profil__buttons button:hover svg path {
  stroke: rgba(128, 128, 128, 0.4392156863);
}

.portfolio {
  width: 80%;
  padding: 100px 20px 100px 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
@media screen and (max-width: 450px) {
  .portfolio {
    width: 90%;
    padding: 50px 10px 50px 10px;
  }
}
@media screen and (max-width: 450px) {
  .portfolio {
    padding: 50px 0 50px 0;
  }
}
.portfolio__text {
  opacity: 0;
}
.portfolio__text.in-view {
  animation: slideIn 1.2s ease-in-out forwards;
}
.portfolio__icons {
  margin: 40px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.portfolio__icons svg {
  opacity: 0;
}
.portfolio__icons svg.in-view {
  animation: slideIn 1.2s ease-in-out forwards;
}
.portfolio__stickers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.portfolio .sticker {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  min-width: 320px;
  width: 100%;
  margin-bottom: 40px;
  opacity: 0;
}
.portfolio .sticker.in-view {
  animation: slideIn 1.2s ease-in-out forwards;
}
.portfolio .sticker__stamps {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media screen and (max-width: 400px) {
  .portfolio .sticker__stamps {
    padding: 0 20px 0 20px;
    justify-content: center;
  }
}
.portfolio .sticker__stamp {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  color: white;
  padding-left: 6px;
  padding-right: 6px;
}
.portfolio .sticker__text {
  font-size: 0.9em;
  text-align: justify;
}
@media screen and (max-width: 400px) {
  .portfolio .sticker__text {
    padding: 0 20px 0 20px;
  }
}
.portfolio .sticker__image {
  max-width: 400px;
  min-width: 340px;
  height: 225px;
  filter: grayscale(100%);
}
.portfolio .sticker__image:hover {
  background-position-y: bottom;
  filter: grayscale(0%);
}
.portfolio .sticker__image--1 {
  background: url("../images/luxury-service.webp");
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position-y 5s linear;
}
.portfolio .sticker__image--2 {
  background: url("../images/payetonpote.webp");
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position-y 2s linear;
}
.portfolio .sticker__image--3 {
  background: url("../images/combat.webp");
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position-y 1s linear;
}
.portfolio .sticker__image--4 {
  background: url("../images/comparOperator.webp");
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position-y 3s linear;
}
.portfolio .sticker__image--5 {
  background: url("../images/tower-defense.webp");
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position-y 3s linear;
}
.portfolio .sticker__image--6 {
  background: url("../images/quizz.webp");
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position-y 3s linear;
}
.portfolio .sticker__image--7 {
  background: url("../images/drumpad.webp");
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position-y 3s linear;
}
.portfolio .sticker__image--8 {
  background: url("../images/animation-pokemon.webp");
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position-y 3s linear;
}
.portfolio .sticker__image--9 {
  background: url("../images/the-mountain.webp");
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-position-y 8s linear;
}
.portfolio__text {
  text-align: justify;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
  font-size: 0.8em;
}

@keyframes lightning {
  0% {
    box-shadow: none;
  }
  15% {
    box-shadow: 0px 0px 6px rgb(40, 202, 0);
  }
  30% {
    box-shadow: none;
  }
  100% {
    box-shadow: none;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
